    		   	<div class="row">
                    <div class="col-sm-6">
                        <h1><%= t('trayectoria_laboral.area_6.title') %></h1>
                        <p><%= t('trayectoria_laboral.area_6.descripcion') %></p>
                    </div>
                    <div class="col-sm-6">
                        <h2><%= t('trayectoria_laboral.proyectos') %></h2>
                        <div>
                        </div>
                    </div>
                </div>
			</div>
		</section><!--/#portfolio-->