        <section id="proyecto_1" class="gris">
          <div class="container">
            <div class="center">
              <h2><%= t('trayectoria_laboral.area_' + @num_area + '.proyecto_1.title_completo') %></h2>
            </div>

            <p><%= t('trayectoria_laboral.area_#{@num_area}.proyecto_1.descripcion') %></p>

            <hr>

          </div>
        </section><!-- /fundamentos_institucionales -->