<h1>¡Bienvenidos!</h1>
<p>Página inicial de prueba para el proyecto de la consultoria \n
   la direccion web es de prueba, pero será usada durante el tiempo de desarrollo actual.</p>

<p>The time is now <%= Time.now %></p>
