<!DOCTYPE html>
<html>
<head>
	<title>Consultoria</title>
	<%= stylesheet_link_tag   'aplication', media: 'all', 'data-turbolink-track' => true %>
	<%= javascrip_include_tag 'aplication', 'data-turbolink-track' => true %>
	<%= csrf_meta_tags%>
</head>
<body>

<%= yield %>

</body>
</html>